/* font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif; */

body {
  max-width: 800px;
  margin: auto;
  background-color: #F5F5F5;
}

#header {
  padding: 25px 0;
}

#avatar {
  max-width: 275px;
  height: auto;
  border: 2px solid #165c16;
  margin: 20px 0;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif; */
}

a {
  color: #165c16;
}

a:hover {
  color: #165c16;
}

a:visited {
  color: #259b25;
}

.project {
  padding: 25px 0;
}

.app-screenshot {
  max-width: 250px;
  height: auto;
  border: 2px solid #165c16;
  float: right;
}

.contrast-text {
  color: #165c16;
}
